<!DOCTYPE html>
<html>
<head>
	<title>Qué maravilla!</title>
</head>
<body>
	<h1>Qué maravilla. </h1>
	<h2>Dime cuanto tiempo tienes y te dire pa' dónde vas!</h2>
	<button>Chatea con nostros</button>
</body>
</html>